@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {

  --fc-border-color: none;

  /* Botões no topo do calendário */

  .fc-button-primary {
    background-color: transparent;
    border: none;
    font-size: 24px;
  }

  .fc-button-primary:hover {
    background-color: transparent;
    border: none;
    font-size: 24px;
  }

  .fc .fc-button-primary:not(:disabled).fc-button-active,
  .fc .fc-button-primary:not(:disabled):active {
    background-color: transparent;
    border: none;
    font-size: 24px;
  }

  .fc .fc-button-primary:disabled {
    background-color: transparent;
    border: none;
    font-size: 24px;
  }

  /*  */

  /* Titulo do mês */

  .fc-toolbar-title {
    font-size: 28px;
    color: white;
  }

  /*  */

  /* Sessão do Calendário */

  /* Tirando a borda de tudo */

  .fc-theme-standard td,
  .fc-theme-standard th {
    border: none;
    color: white;
  }

  /*  */

  /* Dias da semana */

  .fc-col-header-cell {
    font-size: 20px;
  }

  /*  */

  .fc .fc-daygrid-day-frame {
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .fc .fc-daygrid-day-frame:hover {
    background-color: #63C042;
  }

  /*  */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(129deg, rgba(42, 151, 28, 1) 24%, rgba(20, 60, 15, 1) 100%);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 25px;
}

#calendar {
  width: 90%;
  height: 80%;
  font-size: 14px;
}

/* Estilos para o tipo de evento "papel" */
.event-papel {
  background-color: #ff9800;
  /* Laranja */
  border-color: #ff9800;
}

/* Estilos para outros tipos de eventos, adicione conforme necessário */
.event-outro {
  background-color: #4caf50;
  /* Verde */
  border-color: #4caf50;
}

/* Estilo padrão para eventos sem tipo específico */
.event-não-especificado {
  background-color: #3788d8;
  /* Azul padrão */
  border-color: #3788d8;
}