* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin-left: 5vw;
}

.back-button {
    text-align: center;
    margin: 20px 0;
}

.back-button a img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.2s;
}

.back-button a img:hover {
    transform: scale(1.1);
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    margin: 20px 0;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
